.container{
    background-color: #718093;
    padding:none;
    margin:none;
}

.list-group{
    background-color: #718093;
    padding:none;
}

body{
    background-color: #718093;
    padding:none;
  }
  
.list-group-item{
    background-color: #718093;
    padding:none;
}



